@model WebUI.Models.SummaryModel



<head>
<script type="text/javascript">
    var datefield=document.createElement("input")
    datefield.setAttribute("type", "date")
    if (datefield.type!="date"){ //if browser doesn't support input type="date", load files for jQuery UI Date Picker
        document.write('<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"><\/script>\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"><\/script>\n')
    }
</script>
 
<script>
if (datefield.type!="date"){ //if browser doesn't support input type="date", initialize date picker widget:
    jQuery(function($){ //on document.ready
        $('#createdate').datepicker();
    })
}
</script>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Untitled 1</title>
<link rel="stylesheet" type="text/css" href="Style1.css" />
<link rel="stylesheet" type="text/css" href="animate-custom.css" />
<style>
body {
		font-family: arial, helvettica,sans-serif;	
		background-color: #FFFFF0;
		
}
</style>
</head>

<body>

<img alt="logo" style="margin:25px auto;display:block" height="10%" src="piggielogo.jpg" width="30%"  />
<div id="container_demo" >
    <a class="hiddenanchor" id="toregister"></a>
    <a class="hiddenanchor" id="tologin"></a>
    <div id="wrapper">
        <div id="login" class="animate form">
            <form  action="mysuperscript.php" autocomplete="on">
                <h1>Create Your Fund</h1>
                <p>
                    <label for="username" class="uname"  > Fund Name </label>
                    <input id="username" name="username" required="required" type="text" placeholder="Concert Ticket"/>
                </p>
                  <p>
                    <label for="payfreq" class="payfreq"  > Payment Frequency </label>
                   
            
             <select id = "myList">
               <option value = "1">Weekly</option>
               <option value = "2">Fortnightly</option>
               <option value = "3">Monthly</option>
             </select>
          </p>
                      
                 <p>
                    <label for="username" class="uname" data-icon="€" > Payment Amount </label>
                    <input id="number" name="savings" required="required" min="0.01" step="0.01" max="1000" type="number"  placeholder="€1"/>
                </p>
                 <p>
                    <label for="username" class="uname" data-icon="€" > Fund Goal </label>
                    <input id="username" name="username" required="required" type="Number" placeholder="€1,000"/>
                </p>
                 <p>
                    <label for="username" class="uname" > First Payment Date</label>
                    <form>
				<input type="date" id="createdate" name="birthday" size="20" />
					</form>
                </p>
                 <p>
                    <label for="username" class="uname" >Paypal Account Username</label>
                    <input id="username" name="username" required="required" type="email" placeholder="myusername or mymail@mail.com"/>
                </p>

                <p>
                    <label for="password" class="youpasswd" > Your Paypal password </label>
                    <input id="password" name="password" required="required" type="password" placeholder="eg. Paypal" />
                </p>
                <p class="keeplogin">
                    <input type="checkbox" name="TnC" id="TnC" value="TnC" />
                    <label for="loginkeeping">I accept Piggie.ie Terms and Conditions</label>
                </p>
                <p class="login button">
                    <input type="submit" value="Create Fund" />
                </p>
               </form>
        </div>         
    </div>
</div>  
</body>

</html>


