@model WebUI.Models.SummaryModel

@{
    ViewBag.Title = "Summary";
}
<link rel="stylesheet" type="text/css" href="~/Content/Style1.css" />
<link rel="stylesheet" type="text/css" href="~/Content/animate-custom.css" />  
           <div id="container_demo" > 
               <div id="wrapper">
                    <div id="login" class="animate form">
                         Hello, <a class="username" href="/Account/Manage" title="Manage">User</a>!
<form action="/Account/LogOff" id="logoutForm" method="post"><input name="__RequestVerificationToken" type="hidden" value="ym1DwYph4sLrCRfAGiuFR_Sy__s0a1Omw3ZAAGxd7hOl4jh-hlc9W7_v3TQ5PESdyKqGV5Ah5nXh4XBZ--rzPb2OBR6y7uAadAud_mUEz24NlTImexQsha_qU0ZpckVI0" />            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
</form>    
    @Html.DisplayFor(m => m.Funds)

 <p class="change_link">                       
 @Html.Partial("_LoginPartial")                                                                                                                                                                                                                                                         
<p>
         </div>
    </div>
</div>

<footer>
    <div class="content-wrapper">
        <div class="float-left">
            <p>&copy; @DateTime.Now.Year - Piggie.ie</p>
        </div>
    </div>
</footer>     