@model WebUI.Models.SummaryModel

@{
    ViewBag.Title = "Summary";
}
<link rel="stylesheet" type="text/css" href="~/Content/Style1.css" />
<link rel="stylesheet" type="text/css" href="~/Content/animate-custom.css" />  
           <div id="container_demo" > 
               <div id="wrapper">
                    <div id="login" class="animate form">

                          <p class="login button">
                        @Html.AntiForgeryToken()
                              </p>
                        <h1>Funds Detail</h1>

    @Html.DisplayFor(m => m.Funds)
    <p class="change_link">
        New Fund   @Html.ActionLink("Create", "Create") 
    </p>
         </div>
    </div>
</div>

   