@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/Content/Style1.css" />
<link rel="stylesheet" type="text/css" href="~/Content/animate-custom.css" />  
           <div id="container_demo" > 
               <div id="wrapper">
                    <div id="login" class="animate form">
                        <h1>Sorry to see you go!</h1>
                        <p>Bye Bye!</p>


                            <p class="change_link"> 
                    Already a member? @Html.ActionLink("Account", "Login") 
                </p>
                        </div>
                   </div>
               </div>