<link rel="stylesheet" type="text/css" href="~/Content/Style1.css" />
<text>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
        <h1>LogOff</h1>
        <p class="change_link">
            @Html.ActionLink("LogOff", "Account") 
        </p>
    }
</text>